<!-- <app-baitap2></app-baitap2> -->
<!-- <app-baitap3></app-baitap3> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <hr style="  border-width: 20px; border-color: red"> -->
<!-- <app-structural-directive></app-structural-directive> -->
<!-- <hr style="  border-width: 20px; border-color: red"> -->
<!-- <app-attribute-directive></app-attribute-directive>  -->
<!-- <hr style="  border-width: 20px; border-color: red">  -->
<!-- <app-baitap-themsanpham></app-baitap-themsanpham> -->
<!-- <app-ng-content></app-ng-content> -->
<!-- <<app-interaction></app-interaction> -->
<app-baitap-bus></app-baitap-bus>




















































